/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;
}

header{
  font-size: calc(2vw + 2px );
  text-align: center;
  margin-top: 1vh;
  color: rgb(210,105,30);
}

body{
  background-color: rgba(0,191,255, 0.5);
}

.container{
  margin: auto;
  width: 70%;
  height: 80vh;
}

.container div{
  margin-top: 5vh;
  border-radius: 10%;
}

/* REGOLE CARTE */

.card{
  background-image: url(../img/pattern.png);
  background-size: contain;
  border-radius: 10%;
  display: inline-block;
  margin-left: 8.5%;
  position: relative;
  width: 10vw;
  height: 21vh;
  background-color: white;
}

/* CARTA BALLOON */

.card-balloon{
  border-radius: 10%;
  display: inline-block;
  margin-left: 8.5%;
  position: relative;
  width: 10vw;
  height: 21vh;
  background-color: white;
}

.card-balloon img{
  width: 10vw;
  display: block;
}

#balloon{
  display: block;
}

#balloon:hover{
  color: rgba(130,0,147, 0.5);
}
/* FINE BALLOON */

img{
  width: 10vw;
  height: 16vh;
  margin: auto;
}

span{
  font-size: 1.5vw;
  position: absolute;
  top: 75%;
  left: 17%;
  color: rgb(210,105,30);
  display: none;
}

.card img{
  display: none;
}

.card:hover{
  background-image: none;
}

.card:hover img, .card:hover span {
  display: block;
}

footer{
  font-size: 2vh;
  text-align: center;
  margin: 2vh 0vw;
}

h2 a{
  text-decoration: none;
  color: rgb(210,105,30);
}
