/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Coda Caption', sans-serif;
}

header{
  font-size: 4.5vh;
  text-align: center;
  margin-top: 1.5vh;
}

body{
  background-color: rgba(0,191,255, 0.5);
}

.row{
  margin: auto;
  width: 73.5%;
  height: 35vh;
}

.row section{
  position: relative;
  margin-top: 5vh;
}

/* REGOLE CARD */
div.card-front{
  background-color: white;
  border-radius: 5%;
  margin-left: 4.5%;
  height: 35vh;
  position: relative;
  display: inline-block;
}

img{
  width: 14vw;
  height: 25vh;
}

span{
  font-size: 3vh;
  position: absolute;
  top:78%;
  left: 0%;
  width: 14vw;
  text-align: center;
}

.card-back:hover{
  display: none;
}

div.card-back img{
  background-color: blue;
  border-radius: 5%;
  width: 14vw;
  height: 35vh;
}

div.one, .card-back.one{
  position: absolute;
  top: 0%;
  right: 75%;
}

div.two, .card-back.two{
  position: absolute;
  top: 0%;
  right: 52%;
}

div.three, .card-back.three{
  position: absolute;
  top: 0%;
  right: 29.5%;
}

div.four, .card-back.four{
  position: absolute;
  top: 0%;
  right: 7%;
}

footer{
  font-size: 2vh;
  text-align: center;
  margin: 5vh 0vw;
}

a{
  text-decoration: none;
}
